{{diagnostic}}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7 form-section">
      <div class="intake-form-sticky-note">
        <div class="intake-form-item container row">
          <label class="col-md-4" for="name">Name:</label>
          <input type="text" class="form-control col-md-8" id="name"
          required
          [(ngModel)]="model.name" name="name" >
        </div>
        <div class="intake-form-item container row">
          <label class="col-md-4" for="name">E-Mail:</label>
          <input type="text" class="form-control col-md-8" id="email"
          required
          [(ngModel)]="model.email" name="name">
        </div>
        <button class="btn intake-form-button">Next!</button>
      </div>
      <!--<img class="intake-form-sticky-note" src="../../../../assets/stationary/sticky-note-semi-loose.png" />-->
    </div>
    <div class="col-md-4 form-cta">
      <p>Contact Us Now!</p>
    </div>

  </div>
    <!--<div class="intake-form col-md-9 container row">-->
      <!--<div class="form-group col-md-7 intake-form-group">-->

        <!--<img class="intake-form-sticky-note" src="../../../../assets/stationary/sticky-note-semi-loose.png" />-->
          <!--<div class="intake-form-big-container">-->


          <!--<div class="intake-form-item container row">-->
            <!--<label class="col-md-4" for="name">Name</label>-->
            <!--<input type="text" class="form-control col-md-8" id="name"-->
                   <!--required-->
                   <!--[(ngModel)]="model.name" name="name">-->
          <!--</div>-->
          <!--<div class="intake-form-item container row">-->
            <!--<label class="col-md-4" for="name">E-Mail</label>-->
            <!--<input type="text" class="form-control col-md-8" id="email"-->
                   <!--required-->
                   <!--[(ngModel)]="model.email" name="name">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<button class="btn  intake-form-button">NEXT</button>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-2"></div>-->


</div>

