@import "../../../shared/app-colors";
@import "../../../../assets/fonts/Moonshot-Regular/styles.css";
@import "../../../shared/utility";

.contact-us-action{
  background-color: @secondary;
  width: 270px;
  border: @primary solid 5px;
  border-radius: 16px;
  position: relative;
  left: 20px;
  margin-top: 15px;

  &:hover{
    background-color: @primary;
    border-color: @tieriary;
  }

}
.price-header{
  border-bottom: black solid 3px;
  width: 300px;

  margin-bottom: 20px;
  position: relative;

  right: 0px;
}

.price-options{
  position: relative;
  left: 15px;
}


.price{
  background-color: @tieriary;
  margin: 5px;
  font-size: 80%;
  width: 270px;
  border-radius: 20px;
  border-color: @primary;
  border-style: solid;
  border-width: 5px;

  &:hover{
    border-color: @secondary;
  }

}
.form-cta{
  overflow: hidden;
  white-space: nowrap;
  background-image: url("../../../../assets/stationary/sticky-note-loose.png");
  background-size: 350px;
  filter: brightness(110%);
  transform: rotate(-10deg);
  background-repeat: no-repeat;
  font-family: Moonshot-Regular;
  position: relative;
  //top: 50px;
  left: 20px;
  line-height: 45px;
}

.price-options{
  font-family: Moonshot-Regular;

}

.intake-form-item{
  position: relative;
  width: 91%;
  left: 54%;
  transform: translateX(-50%);
  text-align: center;
  top: 40px;

  font-family: Moonshot-Regular;

  input.form-control{
    margin-right: 0px;
    position: relative;
    right: 14px;

    width: 80% !important;
  }
}


.intake-form-button{
  background-color: @secondary;
  height: 100px;
  width: 300px;
  font-size: 55px;
  border-radius: 16px;
  position: relative;
  top: 70px;
  text-align: center;
  font-family: Moonshot-Regular;

  &:hover{
    background-color: @primary;
  }


}
.form-section{

  //background-color: red;
//
}

.testclassthing{

}

intake-form-button:active{
  background-color: @primary !important;
}

intake-form-button:focus{
  background-color: @primary !important;
}

.intake-form{
  //background-color: @primary;
  padding: 20px;
}
.intake-form-big-container{

}

.intake-form-sticky-note{
  background-image: url("../../../../assets/stationary/note-blurb.png");
  position: relative;
  //display: flex;
  @widthSize : 500px;
  @heightSize:  350px;
  background-size: @widthSize @heightSize;
  background-repeat: no-repeat;
  width: @widthSize;
  height: @heightSize;

  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
}
.form-section{
  text-align: center;
}
