
@font-face {
  font-family: 'Moonshot-Decorative';
  src: url('Moonshot-Decorative.eot?#iefix') format('embedded-opentype'),  url('Moonshot-Decorative.woff') format('woff'), url('Moonshot-Decorative.ttf')  format('truetype'), url('Moonshot-Decorative.svg#Moonshot-Decorative') format('svg');
  font-weight: normal;
  font-style: normal;
}
